.games-wrap {
  display: flex;
  flex-wrap: wrap;
}

.elementor-widget-container .games-wrap .sc_services {
  width: 100%;
}

.custom-nuts-filter.game-search {
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.game-search .field-wrap {
  width: 25%;
}
.custom-nuts-filter.game-search input, .custom-nuts-filter.game-search select {
  color: gray;
  padding: 10px;
  border: 0 none;
  height: 50px;
}

.game-search .field-wrap:not(:last-child) {
  border-right: 1px solid #ccc;
}

.games-wrap .filter-sidebar {
  background: gray;
  border-radius: 8px;
  font-family: "Open Sans";
  padding: 24px 24px 24px 24px;
}

.games-wrap.has-games-filter .filter-sidebar {
  margin-bottom: 30px;
  width: 100%;
}
.games-wrap.has-games-filter .sc_services {
  padding-left: 30px;
  /* width: 75%; */
}
.games-wrap.has-games-filter .sc_services_item_title {
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  line-height: 26px;
}
.games-wrap.has-games-filter .post_featured {
  margin-bottom: 1.8em;
}

.filters-heading {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
}

.custom-nuts-filter {
  margin-top: 20px;
  border-top: 1px solid #949494;
}

.filter-sidebar .custom-nuts-filter > ul,
.filter-sidebar .custom-nuts-filter ul li ul {
  list-style: none;
  padding: 0;
}

.filter-sidebar .custom-nuts-filter > ul > li {
  padding: 20px 0;
  border-bottom: 1px solid #949494;
}
.filter-sidebar .custom-nuts-filter ul li {
  font-size: 16px;
  color: #fff;
}

.filter-sidebar .custom-nuts-filter > ul > li > a {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

.filter-sidebar .custom-nuts-filter ul li.collapsed span.icon-filter {
  transform: rotate(90deg);
}

.filter-sidebar .custom-nuts-filter a span.icon-filter {
  float: right;
}

.filter-sidebar .custom-nuts-filter .clear {
  float: right;
  font-size: 13px;
  padding-right: 20px;
  text-decoration: underline;
}

/* loader icon on game image */
a.popup-game[href="javascript:void(0)"],
a.popup-game .mask {
  cursor: pointer;
}

/* Make this svg a background for the mask
*/

.hover_link.post_featured.with_thumb a.loading-game .mask {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="236" height="236" style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0);" xmlns:xlink="http://www.w3.org/1999/xlink"><g><rect fill="%2306020c" height="11" width="11" y="32.5" x="32.5"><animate calcMode="discrete" begin="0s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><rect fill="%2306020c" height="11" width="11" y="32.5" x="44.5"><animate calcMode="discrete" begin="0.125s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><rect fill="%2306020c" height="11" width="11" y="32.5" x="56.5"><animate calcMode="discrete" begin="0.25s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><rect fill="%2306020c" height="11" width="11" y="44.5" x="32.5"><animate calcMode="discrete" begin="0.875s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><rect fill="%2306020c" height="11" width="11" y="44.5" x="56.5"><animate calcMode="discrete" begin="0.375s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><rect fill="%2306020c" height="11" width="11" y="56.5" x="32.5"><animate calcMode="discrete" begin="0.75s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><rect fill="%2306020c" height="11" width="11" y="56.5" x="44.5"><animate calcMode="discrete" begin="0.625s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><rect fill="%2306020c" height="11" width="11" y="56.5" x="56.5"><animate calcMode="discrete" begin="0.5s" repeatCount="indefinite" dur="1s" keyTimes="0;0.125;1" values="%23f0fe0c;%2306020c;%2306020c" attributeName="fill"></animate></rect><g></g></g><!-- [ldio] generated by https://loading.io --></svg>');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1 !important;
}

.hidegame {
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
}
